<html>
  <head>
   <title>PJ-PizzaKottu</title>
  </head>
  <body>
    <nav class="navbar bg-dark">
      <a href="index.html"  class="nav-brand text-white nav-link">PJ-PizzaKottu</a>
      <form class="d-flex justify-content-center" style="margin-left: 450px;">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
      <ul class="nav">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a routerLink="/login" class="nav-link">Login</a></li>
      <li><a routerLink="/viewpizza" class="nav-link">Menu</a></li>
      <li><a routerLink="/addtocart" class="nav-link">Cart</a></li>
      </ul>
      </nav>
      
    
      
  </body>
</html>

<router-outlet></router-outlet>